<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<h1>Members</h1>
<table>
    <tr>
        <th>NO.</th>
        <th>ID</th>
        <th>LastName</th>
        <th>FirstName</th>
        <th>Phone</th>
    </tr>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}">NO.</td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.lastName}"></td>
        <td th:text="${member.firstName}"></td>
        <td th:text="${member.phone}"></td>
    </tr>
</table>
</body>
</html>