<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body layout:fragment="content">
<h1>회원 관리</h1>
<table>
    <tr>
        <th>NO.</th>
        <th>ID</th>
        <th>성</th>
        <th>이름</th>
        <th>닉네임</th>
        <th>성별</th>
        <th>생년월일</th>
        <th>전화번호</th>
        <th>활성 여부</th>
    </tr>
    <tr th:each="member : ${memberList}">
        <td th:text="${member.id}">NO.</td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.lastName}"></td>
        <td th:text="${member.firstName}"></td>
        <td th:text="${member.nickName}"></td>
        <td th:text="${member.gender}"></td>
        <td th:text="${member.birthDate}"></td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.isActive}"></td>
    </tr>
</table>
<h1>공지사항 관리</h1>
<table>
    <tr>
        <th>NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>수정일자</th>
    </tr>
    <tr th:each="notice : ${noticeList}">
        <td th:text="${notice.id}"></td>
        <td th:text="${notice.subject}"></td>
        <td th:text="${notice.register}"></td>
        <td th:text="${notice.createDate}"></td>
        <td th:text="${notice.modifyDate}"></td>
    </tr>
</table>
<h1>도서 관리</h1>
<table>
    <tr>
        <th>NO.</th>
        <th>제목</th>
        <th>작가</th>
        <th>출판일</th>
        <th>출판사</th>
    </tr>
    <tr th:each="product : ${productList}">
        <th th:text="${product.id}"></th>
        <th th:text="${product.title}"></th>
        <th th:text="${product.author}"></th>
        <th th:text="${product.pubDate}"></th>
        <th th:text="${product.publisher}"></th>
    </tr>
</table>
<h1>판매글 관리</h1>
<table>
    <tr>
        <th>NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>수정일자</th>
    </tr>
    <tr th:each="article : ${articleList}">
        <th th:text="${article.id}"></th>
        <th th:text="${article.subject}"></th>
        <th th:text="${article.register}"></th>
        <th th:text="${article.createDate}"></th>
        <th th:text="${article.modifyDate}"></th>
        <th th:text="${article.modifyDate}"></th>
    </tr>
</table>
<h1>정산 관리</h1>
<table>
    <tr>
        <th>NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>수정일자</th>
    </tr>
    <tr th:each="article : ${articleList}">
        <th th:text="${article.id}"></th>
        <th th:text="${article.subject}"></th>
        <th th:text="${article.register}"></th>
        <th th:text="${article.createDate}"></th>
        <th th:text="${article.modifyDate}"></th>
    </tr>
</table>
</body>
</html>