<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>관리자 페이지</title>
    <style>
        .truncate-230 {
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>

<main layout:fragment="content">
    <header class="w-[1580px] mx-auto p-4 text-left border-b">
        <div class="flex justify-between items-center">
            <h1 class="text-[50px]">관리자 페이지</h1>
            <div class="menu">
                <div class="admin_menu flex space-x-4">
                    <ul class="flex space-x-4">
                        <li>
                            <a class="menu-link" th:href="@{/admin/member}">회원관리</a>
                        </li>
                        <li>
                            <a class="menu-link" th:href="@{/admin/notice}">공지사항 관리</a>
                        </li>
                        <li>
                            <a class="menu-link" th:href="@{/admin/domestic}">국내도서 관리</a>
                        </li>
                        <li>
                            <a class="menu-link" th:href="@{/admin/foreign}">외국도서 관리</a>
                        </li>
                        <li>
                            <a class="menu-link" th:href="@{/admin/calculate}">정산관리</a>
                        </li>
                        <li>
                            <a class="menu-link" th:href="@{/product/create}">제품 등록</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ... -->
    </header>
    <!-- 회원 관리 테이블 -->
    <div class="w-[1580px] mx-auto mt-[100px]">
        <h1 class="text-3xl font-semibold my-6">회원 관리</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full">
                <thead>
                <tr>
                    <th class="py-2 px-4 border w-auto">NO.</th>
                    <th class="py-2 px-4 border w-auto">ID</th>
                    <th class="py-2 px-4 border w-auto">성</th>
                    <th class="py-2 px-4 border w-auto">이름</th>
                    <th class="py-2 px-4 border w-auto">닉네임</th>
                    <th class="py-2 px-4 border w-auto">성별</th>
                    <th class="py-2 px-4 border w-auto">생년월일</th>
                    <th class="py-2 px-4 border w-auto">전화번호</th>
                    <th class="py-2 px-4 border w-auto">권한</th>
                    <th class="py-2 px-4 border w-auto">권한 부여</th>
                    <th class="py-2 px-4 border w-auto">활성 상태</th>
                    <th class="py-2 px-4 border w-auto">활성 여부</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white" th:each="member : ${memberList}">
                    <td class="py-2 px-4 border" th:text="${member.id}"></td>
                    <td class="py-2 px-4 border truncate-230" th:text="${member.userName}"></td>
                    <td class="py-2 px-4 border" th:text="${member.lastName}"></td>
                    <td class="py-2 px-4 border" th:text="${member.firstName}"></td>
                    <td class="py-2 px-4 border" th:text="${member.nickName}"></td>
                    <td class="py-2 px-4 border" th:text="${member.gender == true ? '남성' : (member.gender == false ? '여성' : '알 수 없음')}"></td>
                    <td class="py-2 px-4 border" th:text="${member.birthDate}"></td>
                    <td class="py-2 px-4 border" th:text="${member.phone}"></td>
                    <td class="py-2 px-4 border" th:text="${member.role}"></td>
                    <td class="py-2 px-4 border">
                        <form method="post" th:action="@{/admin/member/update-role}">
                            <input name="memberId" th:value="${member.id}" type="hidden"/>
                            <select name="newRole">
                                <option th:selected="${member.role == 'MEMBER'}" value="MEMBER">권한 선택</option>
                                <option th:selected="${member.role == 'MEMBER'}" value="MEMBER">Member</option>
                                <option th:selected="${member.role == 'AUTHOR'}" value="AUTHOR">Author</option>
                                <option th:selected="${member.role == 'ADMIN'}" value="ADMIN">Admin</option>
                                <option th:selected="${member.role == 'SUPERADMIN'}" value="SUPERADMIN">SuperAdmin</option>
                                <!-- 다른 권한 옵션들 추가 -->
                            </select>
                            <button type="submit">변경</button>
                        </form>
                    </td>
                    <td class="py-2 px-4 border" th:text="${member.isActive ? '활성화' : '비활성화'}"></td>
                    <td class="py-2 px-4 border">
                        <form method="post" th:action="@{/admin/member/toggle-active}">
                            <input name="memberId" th:value="${member.id}" type="hidden"/>
                            <button class="text-black px-2 py-1 rounded transition-colors duration-300 ease-in-out hover:bg-blue-600"
                                    th:classappend="${member.isActive ? 'text-red-500 bg-red-200 hover:bg-red-600' : 'text-blue-500 bg-blue-200 hover:bg-blue-600'}"
                                    type="submit">
                                <span th:text="${member.isActive ? '비활성화' : '활성화'}"></span>
                            </button>
                        </form>
                    </td>

<!--                    <td class="py-2 px-4 border">-->
<!--                        <form method="post" th:action="@{/admin/member/delete}">-->
<!--                            <input name="memberId" th:value="${member.id}" type="hidden"/>-->
<!--                            <button class="bg-red-500 text-red-500 px-2 py-1 rounded hover:bg-red-600"-->
<!--                                    type="submit">삭제</button>-->
<!--                        </form>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>