<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>성공</title>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="modal bg-white p-8 rounded shadow-md max-w-md w-full">
        <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
            <h1 class="text-2xl font-semibold mb-4">결제가 성공적으로 완료되었습니다!</h1>
            <p th:text="${product.id}">상품아이디</p>
            <p th:text="${product.productTitle}">상품제목</p>
            <p th:text="${product.price}">상품가격</p>
            <p th:text="${member.lastName} + ${member.firstName}">회원이름</p>
            <p class="text-gray-600 my-4">감사합니다! 궁금한 점이나 문의 사항이 있으시면 언제든지 문의해주세요.</p>
            <a href="#" class="text-blue-500 hover:underline close-button">고객 지원에 문의하기</a>
        </div>
        <div class="flex justify-end">
            <a href="#" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded close-button">닫기</a>
        </div>
    </div>
</div>
</body>
</html>