HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application-secret
/src/main/resources/application-secret.yml
/src/main/generated/com/project/bookuluv/app/article/domain/QArticle.java
/src/main/generated/com/project/bookuluv/base/entity/QBaseEntity.java
/src/main/generated/com/project/bookuluv/cart/QCart.java
/src/main/generated/com/project/bookuluv/app/comment/domain/QComment.java
/src/main/generated/com/project/bookuluv/app/article/domain/QHashTag.java
/src/main/generated/com/project/bookuluv/app/article/domain/QKeyword.java
/src/main/generated/com/project/bookuluv/like/QLikeIt.java
/src/main/generated/com/project/bookuluv/member/domain/QMember.java
/src/main/generated/com/project/bookuluv/app/article/domain/QNotice.java
/src/main/generated/com/project/bookuluv/app/admin/domain/QProduct.java
/src/main/generated/com/project/bookuluv/api/domain/QProductE.java
/src/main/generated/com/project/bookuluv/domain/article/domain/QArticle.java
/src/main/generated/com/project/bookuluv/domain/cart/QCart.java
/src/main/generated/com/project/bookuluv/domain/comment/domain/QComment.java
/src/main/generated/com/project/bookuluv/domain/api/domain/QEbook.java
/src/main/generated/com/project/bookuluv/domain/article/domain/QHashTag.java
/src/main/generated/com/project/bookuluv/domain/article/domain/QKeyword.java
/src/main/generated/com/project/bookuluv/domain/like/QLikeIt.java
/src/main/generated/com/project/bookuluv/domain/member/domain/QMember.java
/src/main/generated/com/project/bookuluv/domain/article/domain/QNotice.java
/src/main/generated/com/project/bookuluv/domain/admin/domain/QProduct.java
/src/main/generated/*
