<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>BOOKU_LUV</title>
    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        // 페이지 로딩 시 실행
        window.onload = function() {
            // 현재 페이지 URL을 가져오기
            var currentUrl = window.location.href;
            // 비밀번호 변경 페이지로의 접근 여부 확인
            if (currentUrl.includes("/mypage/changePassword")) {
                // 소셜 계정인 경우 알림창 출력
                if ("<%= request.getAttribute('isSocialAccount') %>" === "true") {
                    alert("소셜계정은 비밀번호를 변경하실 수 없습니다.");
                    // 리다이렉트 또는 다른 동작 수행 가능
                }
            }
        };

        function toggleMenu() {
            var menu = document.getElementById("mobile-menu");
            menu.classList.toggle("hidden");
        }


    </script>
    <style>
    /* Toggle 메뉴가 나타날 때의 스타일 */
    #mobile-menu {
        opacity: 0; /* 일단 숨김 */
        transition: opacity 0.3s ease; /* 부드럽게 전환되도록 트랜지션 추가 */
        background-color: rgba(255, 255, 255, 0.9); /* 연한 배경색 추가 */
        /* 나머지 스타일 지정 */
    }

    /* Toggle 메뉴가 나타날 때의 스타일 */
    #mobile-menu:not(.hidden) {
        opacity: 1; /* 나타날 때 투명도 1로 변경 */
    }
</style>
</head>

<body class="min-h-screen flex flex-col pt-[35px] lg:pt-[50px]">

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.1/dist/full.css" rel="stylesheet" type="text/css"/>

<!-- common.css -->
<link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>

<header class="fixed z-40 top-0 left-0 w-full bg-white border-b-[1px] border-b-[color:#efefef] h-[35px] lg:h-[50px]">
    <div class="container mx-auto h-full flex items-center px-2">
        <div class="flex mr-auto">
            <a href="/" class="logo flex font-bold">
                <span class="text-[#1E9EFE]">BOOK</span>
                <span class="ml-[2px] lg:block">U_LUV</span>
            </a>
            <div class="lg:flex gap-3 ml-[50px] font-bold">
                <a th:href="@{|/product/list?type=book|}" class="inline-flex hover:text-red-500 flex-shrink-0">
                    <span class="ml-[2px] hidden lg:block">
                        국내도서
                    </span>
                </a>

                <a th:href="@{|/product/list?type=foreign|}" class="inline-flex hover:text-red-500 flex-shrink-0">
                    <span class="ml-[2px] hidden lg:block">
                        외국도서
                    </span>
                </a>

                <a href="https://reader.grb.asia/" target="_blank" class="inline-flex hover:text-red-500 flex-shrink-0">
                    <span class="text-[#1E9EFE] ml-[2px] hidden lg:block">BOOK</span>
                    <span class="ml-[2px] hidden lg:block">U_LUV</span>
                    <span class="ml-[2px] lg:block">Reader</span>
                </a>
            </div>
        </div>

        <div class="search-box items-center space-x-2 mr-4 lg:mr-20 hidden xl:flex">
            <form class="flex items-center" action="#" th:action="@{/api/search}" th:method="get"
                  onsubmit="return validateSearchForm();">
                <div class="relative flex items-center">
                    <input type="text" name="query" class="border p-2 rounded-l pr-10" placeholder="Search for a book">
                    <button type="submit" class="absolute right-3 top-0 h-full bg-transparent">
                        <i class="fas fa-search text-black text-base"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="flex gap-3 hidden lg:flex items-center">
            <a href="/member/profile" class="inline-flex items-center" sec:authorize="isAuthenticated()">
                <img class="fa-solid fa-user w-12 h-12 rounded-full" alt=""
                     th:if="${#authentication.principal.imgFilePath}"
                     th:src="${#authentication.principal.imgFilePath}"/>
                <img class="fa-solid fa-user w-12 h-12 rounded-full" alt=""
                     src="https://mblogthumb-phinf.pstatic.net/MjAyMDExMDFfMyAg/MDAxNjA0MjI5NDA4NDMy.5zGHwAo_UtaQFX8Hd7zrDi1WiV5KrDsPHcRzu3e6b8Eg.IlkR3QN__c3o7Qe9z5_xYyCyr2vcx7L_W1arNFgwAJwg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EC%8A%A4%ED%85%94.jpg?type=w800"
                     th:unless="${#authentication.principal.imgFilePath}"/>
                <span class="ml-[2px]"></span>
                <span class="ml-[2px] hidden lg:block items-center"
                      th:if="${#authentication.principal.nickName}"
                      th:text="${#authentication.principal.nickName + ' 님'}"></span>
            </a>

            <a href="/member/login" class="inline-flex flex-shrink-0" sec:authorize="isAnonymous()">
                <span class="ml-[2px]">
                    로그인
                </span>
            </a>

            <a href="/member/join-type" class="inline-flex flex-shrink-0" sec:authorize="isAnonymous()">
                <span class="ml-[2px]">
                    회원가입
                </span>
            </a>

            <a href="/notice/list" class="inline-flex flex-shrink-0">
                <span class="ml-[2px]">
                    공지사항
                </span>
            </a>

            <a sec:authorize="isAuthenticated()" th:href="@{/member/cart/{id}(id=${#authentication.principal.id})}"
               class="inline-flex flex-shrink-0">
                <span class="ml-[2px]">
                    장바구니
                </span>
            </a>
            <a href="/admin/member" class="inline-flex items-center">
                <span class="ml-[2px] hidden lg:block items-center">
                    관리자페이지
                  </span>
            </a>

            <a href="/member/logout" class="inline-flex flex-shrink-0" sec:authorize="isAuthenticated()">
                <span class="ml-[2px]">
                    로그아웃
                </span>
            </a>
        </div>
        <div class="block lg:hidden ml-auto">
            <button id="menu-toggle" class="text-gray-600 hover:text-red-500">
                <i class="fas fa-bars"></i> 메뉴
            </button>
        </div>
    </div>
    <nav id="mobile-menu" class="hidden lg:hidden">
        <div class="container mx-auto h-full flex flex-col py-4 space-y-2 px-4">
            <!-- 메인 카테고리 -->
            <a th:href="@{|/product/list?type=book|}" class="hover:text-red-500">
                국내도서
            </a>
            <a th:href="@{|/product/list?type=foreign|}" class="hover:text-red-500">
                외국도서
            </a>
            <a href="https://reader.grb.asia/" target="_blank" class="hover:text-red-500">
                 Reader
            </a>
            <a href="/member/profile" class="inline-flex items-center" sec:authorize="isAuthenticated()">
                <img class="fa-solid fa-user w-12 h-12 rounded-full" alt=""
                     th:if="${#authentication.principal.imgFilePath}"
                     th:src="${#authentication.principal.imgFilePath}"/>
                <img class="fa-solid fa-user w-12 h-12 rounded-full" alt=""
                     src="https://mblogthumb-phinf.pstatic.net/MjAyMDExMDFfMyAg/MDAxNjA0MjI5NDA4NDMy.5zGHwAo_UtaQFX8Hd7zrDi1WiV5KrDsPHcRzu3e6b8Eg.IlkR3QN__c3o7Qe9z5_xYyCyr2vcx7L_W1arNFgwAJwg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EC%8A%A4%ED%85%94.jpg?type=w800"
                     th:unless="${#authentication.principal.imgFilePath}"/>
                <span class="ml-[2px]"></span>
                <span class="ml-[2px] hidden lg:block items-center"
                      th:if="${#authentication.principal.nickName}"
                      th:text="${#authentication.principal.nickName + ' 님'}"></span>
            </a>
            <!-- 로그인 및 관리 기능 -->
            <a href="/member/login" sec:authorize="isAnonymous()" class="hover:text-red-500">
                로그인
            </a>
            <a href="/member/join-type" sec:authorize="isAnonymous()" class="hover:text-red-500">
                회원가입
            </a>
            <a href="/notice/list" class="hover:text-red-500">
                공지사항
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/member/cart/{id}(id=${#authentication.principal.id})}" class="hover:text-red-500">
                장바구니
            </a>
            <a href="/admin/member" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_SUPERADMIN'')')}" class="hover:text-red-500">
                관리자페이지
            </a>
            <a href="/member/logout" sec:authorize="isAuthenticated()" class="hover:text-red-500">
                로그아웃
            </a>
        </div>
    </nav>
</header>

<div class="flex-grow flex flex-col py-32">
    <main layout:fragment="content" class="flex-grow flex flex-col"></main>
</div>

<footer class="bg-black py-16 text-top mt-32">
    <div class="max-w-7xl mx-auto">
        <nav class="flex flex-col lg:flex-row lg:justify-between">
            <div class="flex lg:flex-row gap-x-6 lg:gap-x-0 justify-around">
                <img class="w-[100px]" src="https://i.imgur.com/9qCFLjc.png" alt="">
                <div class="ml-[20px] text-white flex flex-col justify-center">
                    <div class="mb-[10px]">
                        <span>고 우 영</span>
                    </div>
                    <div class="mb-[10px]">
                        <span>이메일 : wooyoung0407@naver.com</span>
                    </div>
                    <div class="mb-[10px]">
                        <span>Front/React</span>
                    </div>
                </div>
            </div>
            <div class="flex lg:flex-row gap-x-6 lg:gap-x-0 justify-around mt-6 lg:mt-0">
                <img class="ml-0 w-[100px]" src="https://i.imgur.com/EgByDhq.jpg" alt="">
                <div class="ml-[20px] text-white flex flex-col justify-center">

                    <div class="mb-[10px]">
                        <span>박 창 규</span>
                    </div>
                    <div class="mb-[10px]">
                        <span>이메일 : changgyu549@gmail.com</span>
                    </div>
                    <div class="mb-[10px]">
                        <span>Backend</span>
                    </div>
                </div>
            </div>

            <div class="flex lg:flex-row gap-x-6 lg:gap-x-0 justify-around mt-6 lg:mt-0">
                <img class="w-[100px]" src="https://i.imgur.com/Q42WfBv.png" alt="">
                <div class="ml-[20px] text-white flex flex-col justify-center">

                    <div class="mb-[10px]">
                        <span>황 인 성</span>
                    </div>
                    <div class="mb-[10px]">
                        <span>이메일 : insung5189@gmail.com</span>
                    </div>
                    <div class="mb-[10px]">
                        <span>Backend</span>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <hr class="w-95">
        <div class="text-white font-bold text-3xl pt-5">Book U Luv</div>
        <div class="text-white font-bold text-2xl pt-5">책 구매를 하여 책을 읽어 봅시다!</div>
    </div>
</footer>

<script src="/resource/common/common.js"></script>
<script th:inline="javascript">
    function validateSearchForm() {
        var queryInput = document.querySelector('input[name="query"]');
        if (queryInput.value.trim() === "") {
            alert("검색어를 입력해주세요.");
            return false; // 검색어가 비어있으면 검색 요청을 보내지 않도록 반환
        }
        return true;
    }
        document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.getElementById("menu-toggle");
        const mobileMenu = document.getElementById("mobile-menu");

        menuToggle.addEventListener("click", () => {
            mobileMenu.classList.toggle("hidden"); // Toggle the 'hidden' class
        });
    });


</script>
</body>
</html>
