<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Book U Luv</title>
    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col pt-[35px] md:pt-[50px]">

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.1/dist/full.css" rel="stylesheet" type="text/css"/>

<!-- common.css -->
<link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>

<header class="fixed z-40 top-0 left-0 w-full bg-white border-b-[1px] border-b-[color:#efefef] h-[35px] md:h-[50px]">
    <div class="container mx-auto h-full flex items-center px-2">
        <a href="/" class="logo flex font-bold mr-auto">
            <span class="text-[#1E9EFE]">BOOK</span>
            <span class="ml-[2px] hidden lg:block">U_LUV</span>
        </a>

        <div class="flex gap-4 items-center">
            <a href="/member/login" class="inline-flex" sec:authorize="isAnonymous()">
                <span class="ml-[2px] hidden lg:block items-center">
                    로그인
                </span>
            </a>

            <a href="/member/join" class="inline-flex" sec:authorize="isAnonymous()">
                <span class="ml-[2px] hidden lg:block items-center">
                    회원가입
                </span>
            </a>

            <a href="/member/logout" class="inline-flex items-center" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-arrow-right-from-bracket items-center"></i>
                <span class="ml-[2px] hidden lg:inline-flex items-center">
                    로그아웃
                </span>
            </a>

            <a href="/member/profile" class="inline-flex items-center" sec:authorize="isAuthenticated()">
<!--                <i class="fa-solid fa-user"></i>-->
                <img class="fa-solid fa-user w-12 h-12" style="border : solid 1px; border-radius : 50%;" alt="" th:if="${#authentication.principal.imgFilePath}" th:src="${#authentication.principal.imgFilePath}"/>
                <img class="fa-solid fa-user w-12 h-12" style="border : solid 1px; border-radius : 50%;" alt="" src="https://mblogthumb-phinf.pstatic.net/MjAyMDExMDFfMyAg/MDAxNjA0MjI5NDA4NDMy.5zGHwAo_UtaQFX8Hd7zrDi1WiV5KrDsPHcRzu3e6b8Eg.IlkR3QN__c3o7Qe9z5_xYyCyr2vcx7L_W1arNFgwAJwg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EC%8A%A4%ED%85%94.jpg?type=w800"
                     th:unless="${#authentication.principal.imgFilePath}"/>
                <span class="ml-[2px]">
                   <svg width="20" height="20"></svg>
                </span>
                <span class="ml-[2px] hidden lg:block items-center" th:if="${#authentication.principal.nickName}" th:text="${#authentication.principal.nickName + ' 님'}">
                </span>
            </a>

            <a href="#" class="inline-flex items-center">
                <span class="ml-[2px] hidden lg:block items-center">
                    메뉴 1
                </span>
            </a>

            <a href="#" class="inline-flex items-center">
                <span class="ml-[2px] hidden lg:block">
                    메뉴 2
                </span>
            </a>

            <a href="#" class="inline-flex items-center">
                <span class="ml-[2px] hidden lg:block">
                    메뉴 3
                </span>
            </a>

        </div>
    </div>
</header>

<div class="flex-grow flex flex-col py-5">
    <main layout:fragment="content" class="flex-grow flex flex-col"></main>
    <div></div>
    <div></div>
</div>

<footer class="border-t-[1px] border-t-[color:#efefef] py-3 text-[color:#777] text-[14px] mt-5">
    <div class="container mx-auto flex flex-col gap-1 px-2">
        <div>
            <a href="/">
                <span>사업자정보확인</span>
                <span class="inline-block scale-[.7]">▼</span>
            </a>
        </div>

        <div class="flex gap-3">
            <a href="/">이용약관</a>
            <a href="/">개인정보 처리방침</a>
            <a href="/">청소년보호정책</a>
        </div>

        <div>
            <a href="/">©BOOKU_LUV Corp.</a>
        </div>
    </div>
</footer>

<script src="/resource/common/common.js"></script>

</body>
</html>


