<html layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세 페이지</title>
</head>
<body layout:fragment="content">
<div class="container mx-auto p-5 mt-10">
    <span class="text-2xl font-bold text-black">공지사항 상세 페이지</span>
    <div class="notice mt-8">
        <div class="notice-subject">
            <table class="w-full border-collapse border-separate">
                <tr class="border-b-2 border-black">
                    <th class="w-1/4 text-left text-base pr-4">제 목</th>
                    <td class="text-base" th:text="${notice.subject}"></td>
                </tr>
                <tr class="border-b-2 border-black">
                    <th class="w-1/4 text-left text-base pr-4">작 성 일</th>
                    <td class="text-base" th:text="${notice.createDate}"></td>
                </tr>
            </table>
        </div>
        <div class="underline-1 border-b-2 border-black w-full mt-8"></div>
        <div class="notice-content mt-6">
            <span class="text-base" th:text="${notice.content}"></span>
        </div>
        <div class="underline-2 border-b-2 border-black w-full mt-8"></div>
        <div class="button flex mt-5">
            <div class="button_3 ml-auto">
                <button type="button" class="py-2 px-4 rounded text-white bg-black">
                    <a href="/notice/list">목록</a>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>