<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>BOOKU_LUV 비밀번호 찾기</title>
</head>

<body>
<main layout:fragment="content">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">
        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg mb-[10px] text-center">
                비밀번호 찾기
            </h1>
            <form onsubmit="return false;" class="flex flex-col gap-3 my-[20px]">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        가입하신 정보를 다시 확인해 주세요.
                    </div>
                </div>
                <div class="form-control">
                    <input type="text" name="userName" id="userName" autofocus class="input input-bordered" maxlength="50" placeholder="아이디"/>
                </div>
                <div class="form-control">
                    <input type="text" name="firstName" id="firstName" autofocus class="input input-bordered" maxlength="50" placeholder="이름"/>
                </div>
                <div class="form-control">
                    <input type="text" name="lastName" id="lastName" autofocus class="input input-bordered" maxlength="50" placeholder="성"/>
                </div>
                <div class="form-control">
                    <input type="text" name="phone" id="phone" autofocus class="input input-bordered" maxlength="50" placeholder="전화번호"/>
                </div>
                <div class="flex justify-center">
                    <button type="button" onclick="sendEmailForPw()" class="btn btn-primary btn-outline">임시 비밀번호 전송</button>
                    <a href="/member/login" class="btn btn-primary btn-outline ml-[20px]">뒤로가기</a>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
<script>
    function sendEmailForPw() {
    // 이메일 주소 가져오기
    var userName = $("#userName").val();
    var firstName = $("#firstName").val();
    var lastName = $("#lastName").val();
    var phone = $("#phone").val();

    // AJAX 요청 보내기
    $.ajax({
    url: "/member/findPassword", // 이메일 인증번호를 보낼 서버의 URL
    method: "POST",
    data: {userName: userName, firstName: firstName, lastName: lastName, phone: phone}, // 이메일 주소를 서버로 전달
    success: function(response) {
    alert("임시 비밀번호 발송 성공.");
    },
    error: function(xhr, status, error) {
    alert("임시 비밀번호 발송 실패.");
    }
    });
    }
</script>
</html>