<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>로그인</title>
</head>

<body>
<main layout:fragment="content">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                로그인
            </h1>
            <form class="flex flex-col gap-3" method="POST" th:action="@{/member/login}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus class="input input-bordered" maxlength="50" name="username" id="username" placeholder="아이디" type="text">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비밀번호</span>
                    </label>
                    <input class="input input-bordered" maxlength="50" name="password" id="password" placeholder="비밀번호" type="password">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <a class="btn btn-secondary btn-outline" th:href="@{/member/join}">가입하기</a>
                    <input class="btn btn-primary" type="submit" value="로그인">
                </div>

                <div class="flex justify-center">
                    <a class="btn btn-link" href="/member/findUsername">아이디찾기</a>
                    <a class="btn btn-link" href="/member/findPassword">비밀번호 찾기</a>
                </div>
            </form>
        </div>
        <div class="w-full flex relative justify-center">

            <div class="w-[10%]" id="login-kakao">
                <a class="flex justify-center" href="http://localhost:7070/oauth2/authorization/kakao">
                    <img class="w-1/2 object-cover rounded-lg" th:src="@{/image/login_kakao.png}" alt="">
                </a>
            </div>
            <div class="w-[10%]" id="login-naver">
                <a class="flex justify-center" href="http://localhost:7070/oauth2/authorization/naver">
                    <img class="w-1/2 object-cover rounded-lg" th:src="@{/image/login_naver.png}" alt="">
                </a>
            </div>
            <!--            <div class="w-[10%]" id="login_google">-->
            <!--                <a class="flex justify-center" href="http://localhost:7070/oauth2/authorization/google">-->
            <!--                    <img class="w-1/2 object-cover rounded-lg" th:src="@{/image/login_google.png}" alt="">-->
            <!--                </a>-->
            <!--            </div>-->
        </div>
    </section>

</main>
</body>

</html>