<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>비밀번호 변경</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-lock"></i>

                비밀번호 변경
            </h1>

            <script>
                let MemberModifyPassword__submitDone = false;

                function MemberModifyPassword__submit(form) {
                    if (MemberModifyPassword__submitDone) {
                        return;
                    }

                    form.oldPassword.value = form.oldPassword.value.trim();

                    if (form.oldPassword.value.length == 0) {
                        warningModal("기존 패스워드를 입력해주세요.");
                        form.oldPassword.focus();

                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.password.value.length == 0) {
                        warningModal("비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.submit();
                    MemberModifyPassword__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="MemberModifyPassword__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">기존 비밀번호</span>
                    </label>
                    <input type="password" name="oldPassword"
                           placeholder="기존 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비밀번호</span>
                    </label>
                    <input type="password" name="password"
                           placeholder="비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <input class="btn btn-primary" type="submit" value="비밀번호 변경">
            </form>
        </div>

    </section>

</main>
</body>
</html>