<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>마이페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-profile flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-user-plus"></i>
                프로파일
            </h1>

            <div class="flex flex-col gap-3">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <div class="badge badge-primary" th:text="${@rq.member.username}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">가입날짜</span>
                    </label>
                    <div class="badge badge-primary"
                         th:text="${#temporals.format(@rq.member.createDate, 'yy-MM-dd HH:mm')}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <div class="badge badge-primary" th:text="${@rq.member.email}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">필명</span>
                    </label>
                    <div class="badge badge-primary"
                         th:text="${@rq.member.nickname != null ? @rq.member.nickname : '-'}"></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">프로필이미지</span>
                    </label>
                    <svg width="100" height="100" th:data-jdenticon-value="${@rq.member.jdenticon}"></svg>
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <a href="/member/modifyPassword" class="btn btn-secondary btn-outline">비밀번호 변경</a>
                    <a th:unless="${@rq.hasAuthority('AUTHOR')}" href="/member/beAuthor" class="btn btn-primary">작가활동 시작</a>
                    <a th:if="${@rq.hasAuthority('AUTHOR')}" class="btn btn-primary btn-disabled">이미 작가회원입니다.</a>
                </div>
            </div>
        </div>

    </section>

</main>
</body>
</html>