<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script>


    </script>
    <title>BOOKU_LUV 마이페이지</title>
</head>
<body class="bg-gray-100" layout:fragment="content">
<main class="container mx-auto py-6">
    <div class="flex justify-around items-start py-10">
        <div class="">
            <div class="form-control">
                <img class="preview-image h-40 w-40 rounded-full border-solid border-black border"
                     th:if="${#authentication.principal.imgFilePath}"
                     th:src="${#authentication.principal.imgFilePath}"/>
                <img class="preview-image h-40 w-40 rounded-full border-solid border-black border"
                     src="https://mblogthumb-phinf.pstatic.net/MjAyMDExMDFfMyAg/MDAxNjA0MjI5NDA4NDMy.5zGHwAo_UtaQFX8Hd7zrDi1WiV5KrDsPHcRzu3e6b8Eg.IlkR3QN__c3o7Qe9z5_xYyCyr2vcx7L_W1arNFgwAJwg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EC%8A%A4%ED%85%94.jpg?type=w800"
                     th:unless="${#authentication.principal.imgFilePath}"/>
            </div>
        </div>
        <div class="info-content">
            <div class="info-box">
                <div class="user-info-box">
                    <div class="nickname-box">
                        <div class="nickname" th:text="${#authentication.principal.nickName}"></div>
                        <div class="subtitle"> 님</div>
                    </div>
                    <div class="nickname-box">
                        <div class="subtitle">닉네임 :</div>
                        <div class="nickname" th:text="${#authentication.principal.nickName}"></div>
                    </div>
                    <div class="birth-box">
                        <div class="subtitle">생년월일 :</div>
                        <div class="birth" th:text="${#authentication.principal.birthDate}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toggle-menu flex">
        <div class="flex w-full items-start">
            <!-- 좌측 메뉴 -->
            <div class="w-3/12 bg-white p-4 h-auto">
                <ul class="space-y-4">
                    <li class="cursor-pointer py-2 px-4 rounded hover:bg-gray-200"
                        th:onclick="|toggleSection('profileContent');|">
                        내 정보
                    </li>
                    <li class="cursor-pointer py-2 px-4 rounded hover:bg-gray-200"
                        th:onclick="|toggleSection('likesContent');|">
                        내 좋아요
                    </li>
                    <li class="cursor-pointer py-2 px-4 rounded hover:bg-gray-200"
                        th:onclick="|toggleSection('cartContent');|">
                        장바구니
                    </li>
                    <li class="cursor-pointer py-2 px-4 rounded hover:bg-gray-200"
                        th:onclick="|toggleSection('purchaseHistoryContent');|">
                        구매내역
                    </li>
                </ul>
            </div>
            <!-- 메뉴 컨텐츠 -->
            <div class="w-9/12 bg-white p-4 min-h-[100%]">
                <!-- 내 정보 컨텐츠 -->
                <div class="menu-content block h-auto" id="profileContent">
                    <!-- 내 정보 내용을 여기에 표시 -->
                    <h1 class="text-lg font-bold mb-4">프로파일</h1>
                    <div class="max-w-md w-full px-2 pt-4">
                        <h1 class="font-bold text-lg">
                            <i class="fa-solid fa-user-plus"></i>
                            프로파일
                        </h1>

                        <!--회원아이디-->
                        <div class="flex flex-col gap-3">
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text" id="label-text">아이디</span>
                                </label>
                                <div class="badge badge-primary" id="formatted-username"></div>
                            </div>

                            <!--회원등록일-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">가입날짜</span>
                                </label>
                                <div class="badge badge-primary"
                                     th:text="${#temporals.format(#authentication.principal.createDate, 'yy-MM-dd HH:mm')}"></div>
                                <!--                    <div class="badge badge-primary"-->
                                <!--                         th:text="${#temporals.format(@rq.member.createDate, 'yy-MM-dd HH:mm')}"></div>-->
                            </div>

                            <!--회원이메일-->
                            <div class="form-control" th:if="${#authentication.principal.email}">
                                <label class="label">
                                    <span class="label-text">이메일</span>
                                </label>
                                <div class="badge badge-primary" th:if="${#authentication.principal.email}"
                                     th:text="${#authentication.principal.email}"></div>
                            </div>

                            <!--회원닉네임-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">닉네임</span>
                                </label>
                                <div class="badge badge-primary"
                                     th:text="${#authentication.principal.nickName + ' 님'}"></div>
                            </div>

                            <!--회원연락처-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">연락처</span>
                                </label>
                                <div class="badge badge-primary" th:if="${#authentication.principal.phone}"
                                     th:text="${#authentication.principal.phone}"></div>
                                <div class="badge badge-primary" th:text="미등록"
                                     th:unless="${#authentication.principal.phone}"></div>
                            </div>

                            <!--회원 성-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">성</span>
                                </label>
                                <div class="badge badge-primary" th:if="${#authentication.principal.lastname}"
                                     th:text="${#authentication.principal.lastname}"></div>
                                <div class="badge badge-primary" th:text="미등록"
                                     th:unless="${#authentication.principal.lastname}"></div>
                            </div>

                            <!--회원 이름-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">이름</span>
                                </label>
                                <div class="badge badge-primary" th:if="${#authentication.principal.firstname}"
                                     th:text="${#authentication.principal.firstname}"></div>
                                <div class="badge badge-primary" th:text="미등록"
                                     th:unless="${#authentication.principal.firstname}"></div>
                            </div>

                            <!--회원성별-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">성별</span>
                                </label>
                                <div class="badge badge-primary" th:if="${#authentication.principal.gender}"
                                     th:text="${#authentication.principal.gender ? '남자' : '여자'}"></div>
                                <div class="badge badge-primary" th:text="미등록"
                                     th:unless="${#authentication.principal.gender}"></div>
                            </div>

                            <!--회원생년월일-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">생년월일</span>
                                </label>
                                <div class="badge badge-primary" th:if="${#authentication.principal.birthDate}"
                                     th:text="${#temporals.format(#authentication.principal.birthDate, 'yyyy-MM-dd')}"></div>
                                <div class="badge badge-primary" th:text="미등록"
                                     th:unless="${#authentication.principal.birthDate}"></div>
                            </div>

                            <!--회원주소-->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">주소</span>
                                </label>
                                <div class="badge badge-primary"
                                     th:if="${#authentication.principal.roadAddress != null && #authentication.principal.extraAddress != null && #authentication.principal.detailAddress != null && #authentication.principal.postalNum != null}"
                                     th:text="${#authentication.principal.roadAddress + ' ' + #authentication.principal.extraAddress + ' ' + #authentication.principal.detailAddress + ' (' + #authentication.principal.postalNum + ')'}"></div>
                                <div class="badge badge-primary"
                                     th:text="미등록"
                                     th:unless="${#authentication.principal.roadAddress != null && #authentication.principal.extraAddress != null && #authentication.principal.detailAddress != null && #authentication.principal.postalNum != null}"></div>
                            </div>
                            <!-- 장바구니 -->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">장바구니</span>
                                </label>
                                <div class="badge badge-primary">
                                    <!-- 여기에 장바구니 내용을 표시 -->
                                    <!-- 예시: -->
                                    <p>장바구니 내용을 여기에 표시</p>
                                </div>
                            </div>

                            <!-- 좋아요한 제품 -->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">좋아요한 제품</span>
                                </label>
                                <div class="badge badge-primary">
                                    <!-- 여기에 좋아요한 제품 내용을 표시 -->
                                    <!-- 예시: -->
                                    <p>좋아요한 제품 내용을 여기에 표시</p>
                                </div>
                            </div>


                            <!-- 구매내역 -->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">구매내역</span>
                                </label>
                                <div class="badge badge-primary">
                                    <!-- 여기에 구매내역 내용을 표시 -->
                                    <!-- 예시: -->
                                    <p>구매내역 내용을 여기에 표시</p>
                                </div>
                            </div>
                            <!-- 내용 수정/추가 -->
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">내용 수정/추가</span>
                                </label>
                                <a class="btn btn-secondary btn-outline" href="/member/updateprofile">내용 수정/추가</a>
                            </div>
                            <div class="grid grid-cols-2 mt-2 gap-2">
                                <a class="btn btn-secondary btn-outline"
                                   href="/mypage/changePassword"
                                   th:unless="${#authentication.principal.userName.startsWith('KAKAO_') || #authentication.principal.userName.startsWith('NAVER_') || #authentication.principal.userName.startsWith('GOOGLE_')}">비밀번호
                                    변경</a>
                                <!--                    <a th:unless="${@rq.hasAuthority('AUTHOR')}" href="/member/beAuthor" class="btn btn-primary">작가활동 시작</a>-->
                                <!--                    <a th:if="${@rq.hasAuthority('AUTHOR')}" class="btn btn-primary btn-disabled">이미 작가회원입니다.</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 내 좋아요 컨텐츠 -->
                <div class="menu-content hidden h-auto" id="likesContent">
                    <!-- 내 좋아요 내용을 여기에 표시 -->
                    <h1 class="text-lg font-bold mb-4">좋아요한 제품</h1>
                    <!-- 좋아요한 제품 -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">좋아요한 제품</span>
                        </label>
                        <div class="badge badge-primary">
                            <!-- 여기에 좋아요한 제품 내용을 표시 -->
                            <!-- 예시: -->
                            <p>좋아요한 제품 내용을 여기에 표시</p>
                        </div>
                    </div>
                </div>
                <!-- 장바구니 컨텐츠 -->
                <div class="menu-content hidden h-auto" id="cartContent">
                    <!-- 장바구니 내용을 여기에 표시 -->
                    <h1 class="text-lg font-bold mb-4">장바구니</h1>
                    <!-- 장바구니 -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">장바구니</span>
                        </label>
                        <div class="badge badge-primary">
                            <!-- 여기에 장바구니 내용을 표시 -->
                            <!-- 예시: -->
                            <p>장바구니 내용을 여기에 표시</p>
                        </div>
                    </div>
                </div>
                <!-- 구매내역 컨텐츠 -->
                <div class="menu-content hidden h-auto" id="purchaseHistoryContent">
                    <!-- 구매내역 내용을 여기에 표시 -->
                    <h1 class="text-lg font-bold mb-4">구매내역</h1>
                    <!-- 구매내역 -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">구매내역</span>
                        </label>
                        <div class="badge badge-primary">
                            <!-- 여기에 구매내역 내용을 표시 -->
                            <!-- 예시: -->
                            <p>구매내역 내용을 여기에 표시</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function toggleSection(sectionId) {
        const section = document.getElementById(sectionId);
        const contentSections = document.querySelectorAll(".menu-content");

        contentSections.forEach((section) => {
            section.classList.add("hidden");
        });
        section.classList.remove("hidden");
    }
    $(document).ready(function() {
                    $.get('/api/getUserName', function(data) {
                        var userName = data.userName;
                        var formattedUserName = userName;
                        var labelText = "아이디";

                        /* 조건에 맞게 userName을 가져옴 */

                        if (userName.startsWith("KAKAO_")) {
                            formattedUserName = userName.substring(userName.indexOf("_") + 1);
                            labelText = "아이디(카카오 소셜계정)";
                        } else if (userName.startsWith("NAVER_")) {
                            formattedUserName = userName.substring(userName.indexOf("_") + 1);
                            labelText = "아이디(네이버 소셜계정)";
                        } else if (userName.startsWith("GOOGLE_")) {
                            formattedUserName = userName.substring(userName.indexOf("_") + 1);
                            labelText = "아이디(구글 소셜계정)";
                        } else if (userName.includes("@")) { // userName에 "@" 포함하면 이메일 형태
                            formattedUserName = userName;
                            labelText = "아이디(이메일 계정)";
                        } else {
                            formattedUserName = userName.substring(userName.indexOf("_") + 1);
                            labelText = "아이디(소셜계정)";
                        }
                        $("#label-text").text(labelText);
                        $("#formatted-username").text(formattedUserName);
                    });
                });
</script>
</body>
</html>
